@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500&display=swap');



html {
  scroll-behavior: smooth;
}
body {
  font-family: "Comfortaa";
  scroll-behavior: smooth;
  font-size: 14px;
  text-shadow: 3px 2px 2px #000;
  color: #fff;
  /* background: url("../mages/bg-pattern.png"), linear-gradient(#063042, #063042, #063042); */
  background-color: #1a1a1a;
  letter-spacing: 1px;
  overflow-x:hidden;
}

.body_hide {
	opacity: 0;
	transition: .9s opacity ease-in-out;
}
.body_visible {
	opacity: 1;
}
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  transition: 0.5s;
  opacity: 50%;
}        
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0); 
  opacity: 50%;
  transition: 0.5s linear;
}
::-webkit-scrollbar-thumb {
  transition: 0.5s linear;
  background: #AF39E6; 
  color: #AF39E6;
  border: 2px solid #000;
  border-radius: 10px;
  
}
::-webkit-scrollbar-thumb:hover {
  
  background: #44155a; 
  color: #44155a ;
  
  
}


#about {
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-pattern.png);
  background-size: cover;
}

.about_profile {
  padding: 60px 0px;
}

.aboutImage {
  max-width: 25%;
  max-height: auto;
  border-radius: 25%;
display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 100;
	transition: .9s opacity ease-in-out;
}

.about_text {
  background: linear-gradient(#8946E8,#5619ac);
  color: #fff;
  margin-top: -1px;
  margin-bottom: -1px;
  padding: 5%;
  opacity: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.heading {
  padding-top: 30px;
  text-align: center;
  color: #ffffff;
}

#download {
  background: linear-gradient(#8946E8,#5619ac); 
  background-size: cover;
  text-align: center;
  color: fff;
  padding: 5%;
  margin: 1px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.about_para {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-bottom: 10px;
  font-size: 17px;
  text-align: left;
}

#phones {
  display: inline-block;
  text-align: center;
  align-content: center;
  align-items: center;
  color:rgb(255, 255, 255)

}

#phone.jasmine {
  background-color: #160831;
  opacity: 90%;
  float: left;
  display: block;
  width: 300px;
  border: 0px solid rgb(0, 0, 0);
  border-radius: 15%;
  margin: 30px;
  padding-bottom: 5%;
  transform: scale(1.0);
  transition: 0.5s;
  text-align: center;
  align-content: center;
  align-items: center;
}
#phone.jasmine:hover{
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 1px 1px 20px #000000;
  color:rgb(255, 255, 255);
  opacity: 100%;
}

#phone.wayne {
  background-color: #160831;
  opacity: 90%;
  float: left;
  display: block;
  width: 300px;
  border: 0px solid rgb(0, 0, 0);
  border-radius: 15%;
  margin: 30px;
  padding-bottom: 5%;
  transform: scale(1.0);
  transition: 0.5s;
}

#phone.wayne:hover{
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 1px 1px 20px #000000;
  color:rgb(255, 255, 255);
  opacity: 100%;
}

#phone.violet {
  background-color: #160831;
  opacity: 90%;
  float: left;
  display: block;
  width: 300px;
  border: 0px solid rgb(0, 0, 0);
  border-radius: 15%;
  margin: 30px;
  padding-bottom: 5%;
  transform: scale(1.0);
  transition: 0.5s;
}

#phone.violet:hover{
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 1px 1px 20px #000000;
  color:rgb(255, 255, 255);
  opacity: 100%;
}

#phone.lavender {
  background-color: #160831;
  opacity: 90%;
  float: left;
  display: block;
  width: 300px;
  border: 0px solid rgb(0, 0, 0);
  border-radius: 15%;
  margin: 30px;
  padding-bottom: 5%;
  transform: scale(1.0);
  transition: 0.5s;
}

#phone.lavender:hover{
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 1px 1px 20px #000000;
  color:rgb(255, 255, 255);
  opacity: 100%;
}

#phone.ginkgo {
  background-color: #160831;
  opacity: 90%;
  float: left;
  display: block;
  width: 300px;
  border: 0px solid rgb(0, 0, 0);
  border-radius: 15%;
  margin: 30px;
  padding-bottom: 5%;
  transform: scale(1.0);
  transition: 0.5s;
}

#phone.ginkgo:hover{
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 1px 1px 20px #000000;
  color:rgb(255, 255, 255);
  opacity: 100%;
}

#features {
  text-align: left;
  background-color: #1a1a1a;
  padding: 5%;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-bottom: -1px;
  background-image: url(../images/bg-pattern.png);
  background-size: cover;
}

@media screen and (max-width: 1336px) {
  .TitleMessage .heading .main #phones {
    font-size: 70px;
    margin-top: -12px;
    font-weight: 300;
  }
  .TitleMessage .heading .sub {
    font-size: 35px;
    font-weight: 300;
    position: relative;
  }
}

@media screen and (max-width: 731px) {
  .TitleMessage .heading .main #phones{
    margin-top: -10px;
    font-size: 30px;
    font-weight: 300;
  }
}

@media screen and (max-width: 628px) {
  .TitleMessage .heading .main #phones {
    font-size: 30px;
    font-weight: 300;
  }
}

@media screen and (max-width: 530px) {
  .TitleMessage .heading .main #phones {
    position: relative;
    top: 45px;
    font-size: 25px;
  }
  .TitleMessage .heading .sub {
    font-size: 15px;
    font-weight: 300;
    position: relative;
    top: 35px;
  }
 }

.squareItem {
  margin-top: 60px;
  position: relative;
}


@media screen and (max-width: 1024px) {
  .squareContent h2  #phones{
    font-size: 41px;
    margin-bottom: 10px;
    font-weight: 400;
  }
}

.squareContent h3 {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: rgb(110, 148, 194);
}

.statsSection {
  background-color: #1a1a1a;
  text-align: center;
  color: #ffffff;
  padding: 5%;
  margin: 1px;
  background-image: url(../images/bg-pattern.png);
  background-size: cover;
}

.contactSection {
  
  background: linear-gradient(#52057b,#11001a);
  text-align: center;
  color: #ffffff;
  padding: 5%;
  margin: 1px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.mailButton {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.rohi {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.filter {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.filter ul {
  display: inline-block;
  padding: 5px;
  margin: auto;
  width: 100%;
}

.filter li {
  display: inline-block;
  padding: 5px;
}

.filter a {
  color: #fff;
  border: 1px solid #fff;
  display: block;
  width: 100px;
  line-height: 40px;
  transition: .3s;
}

.filter .current {
  background-color: rgba(255, 255, 255, 0.8);
  ;
  border-color: #fff;
  color: #000000;
}

.filter a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  ;
  border-color: #fff;
  color: #000000;
  text-decoration: none;
  transition: .3s;
}

.statsSection .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}

.items li {
  display: inline-block;
  padding: 5px;
}

.itemsContainer {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.items li img {
  width: 100%;
  -webkit-transition: all 0.3s linear, 1s;
  -ms-transition: all 0.3s linear, 1s;
  -mz-transition: all 0.3s linear, 1s;
  -o-transition: all 0.3s linear, 1s;
  -transition: all 0.3s linear, 1s;
}

.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}

.items .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

.items .icons i {
  color: #fff;
  font-size: 20px;
  margin-top: 9px;
}

.items a {
  width: 40px;
  height: 40px;
  background-color: #000;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.2s linear, 0.2s;
  -moz-transition: all 0.2s linear, 0.2s;
  -o-transition: all 0.2s linear, 0.2s;
  -ms-transition: all 0.2s linear, 0.2s;
  -transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
  opacity: 1;
}

.items .openButton {
  float: left;
  left: -250px;
}

.items .projectLink {
  float: right;
  right: -250px;
}

.items .item:hover .openButton {
  left: 0px;
}

.items .item:hover .projectLink {
  right: 0px;
}

.items .item:hover img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -transform: scale(1.05, 1.05);
}

.items {
  padding: 0;
}

.copyrightSection {
  color: white;
  padding: 30px 5px;
  background-color: black;
}

.copyrightSection p {
  margin: 0;
}

.social {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.facebook {
  color: #fff;
  padding: 6px;
}

.facebook:hover {
  color: #4171da;
}

.twitter {
  color: #fff;
  padding: 6px;
}

.twitter:hover {
  color: #55acee;
}

.youtube {
  color: #fff;
  padding: 6px;
}

.youtube:hover {
  color: #f03333;
}

.linkedin {
  color: #fff;
  padding: 6px;
}

.linkedin:hover {
  color: #23a9f1;
}

.github {
  color: #fff;
  padding: 6px;
}

.github:hover {
  color: #0380b9;
}

.telegram {
  color: #fff;
  padding: 6px;
}

.telegram:hover {
  color: #1c6d92;
}

.instagram {
  color: #fff;
  padding: 6px;
}

.instagram:hover {
  color: #6492b8;
}

.dev {
  color: #fff;
  padding: 6px;
}

.dev:hover {
  color: #2ae48d;
}

.line {
  color: #fff;
  display: block;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  size: 10px;
  border-width: 1px;
}

#navigation {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  z-index: 3;
  width: 100%;
  margin-bottom: -4px;
  backdrop-filter: blur(20px);
  text-align: right;
}

#navigation li {
  padding: 0 10px;
  transition: .3s;
  margin-right: 10px;
  text-align: right;
}

#navigation li:hover {
  font-weight: 600;
  transition: .3s;
  transform: scale(1.2);
}

#navigation li a {
  color: #fff;
  text-align: right;
}

.navbar-brand {
  color: #fff;
  margin-bottom: 5px;
  margin-left: 8px;
}
.navbar-nav {
  float: left;
  text-align: right;
}
.navbar-brand:hover {
  color: #fff;
}

.navbar-toggler-icon {
  background: url(../images/icons/menu.png);
  background-size: 100%;
}
.navbar-toggler {
  text-align: right;
}


.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: linear-gradient(#4f1e94,#330b6b);
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.5s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.squareItem {
  margin-top: 60px;
  position: relative;
}

.squareInnerContainer {
  position: relative;
  padding: 40px 10px 30px;
  text-align: center;
  border: 2px solid rgb(110, 148, 194);
  border-top: none;
}

.squareInnerContainer:before, .squareInnerContainer:after {
  content: '';
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid rgb(110, 148, 194);
}

.squareInnerContainer:before {
  right: 0px;
}

.squareInnerContainer:after {
  left: 0px
}

.squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .squareContent h2 {
    font-size: 41px;
    margin-bottom: 10px;
    font-weight: 400;
  }
}

.squareContent h3 {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: rgb(110, 148, 194);
}
.progress, .progress-bar {
  height: 1.2rem;
  transition: .3s;
}

.progress-bar:hover {
  cursor: pointer;
  filter: invert(100%);
  transition: .5s;
}

@media screen and (max-width: 993px) {
  #navigation li:hover {
    transition: .3s;
    transform: scale(1);
    margin-left: 20px;
  }
}

@keyframes fillBar {
  to {
    transform: scaleX(1);
  }
}

.rohi, .mailButton {
  
  font-weight: 600;
  transition: .5s;
  border-radius: 10px;
  transform: scale(1.0);
  text-shadow: 0px 0px 0px rgb(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgb(0, 0, 0, 0);
}

.rohi:hover, .mailButton:hover {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #444;
  transition: .5s;
  box-shadow: 0px 0px 0px rgb(0, 0, 0, 0);
  text-shadow: 0px 0px 0px rgb(0, 0, 0, 0) ;
 text-decoration: none;
  

}

.heart {
  color: red;
  font-size: 22px;
}

#catanim {
  margin-left: auto;
  margin-right: auto;
display: block;
}

.creditSection {
  color: white;
  padding: 30px;
  background-color: #000000;
  border-top: 2px double rgb(82, 82, 82);
  align-content: center;
  width: auto;
  height: auto;
  display: block;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.ass { color: #9fcdf6; text-decoration: none; align-content: center;}
div.scrollup {
  position: fixed; /* фиксированная позиция */
  color: #fff; /* цвет текста */
  background-color: rgb(123, 16, 165); /* цвет заднего фона */
  right: 20px; /* расстояние от правого края */
  bottom: 0px; /* расстояние от нижнего края */
  padding: 4px 10px; /* отступы до содержимого блока */
  font-size: 20px; /* размер шрифта (иконки) */
  border-top-left-radius: 4px; /* скругление верхнего левого угла */
  border-top-right-radius: 4px; /* скругление верхнего правого угла */
  cursor: pointer; /* форма курсора */
  display: none; /* не отображать элемент */
  text-align: center; /*выравнивание содержимого элемента по центру */
  transition: 0.5s;
}
div.scrollup:hover {
  background-color: #000; /* цвет заднего фона при наведении */
  transition: 0.5s;
}